.graph-container {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 20%;
    background-color: #ffde21;
    box-shadow: 0 0 30px 0 goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.all-tables {
    padding: 50px;
    margin: 25px auto;
    border: #ffde21;
    border-radius: 0.8cm;
    box-shadow: 0 0 30px 0 goldenrod;
    background-color: #000;
    text-align: center;
}

.coordinates {
    margin-left: 50px;
    padding: 20px;
    border-radius: 0.8cm;
    background-color: #ffde21;
    box-shadow: 0 0 30px 0 goldenrod;
}

.table-result {
    width: 500px;
    margin: 20px auto;
    background-color: black;
    color: white;
    border-collapse: collapse;
    box-shadow: 0 0 30px 0 goldenrod;
}

.x-buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.x-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 1px 5px;
    cursor: pointer;
    font-size: 16px;
}

.r-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 1px 5px;
    cursor: pointer;
    font-size: 16px;
}

.x-b {
    background-color: #ffde21;
    color: black;
    border: 0px #ffde21;
    padding: 0px 0px;
    cursor: pointer;
    font-size: 16px;
}

.table-header > th {
    padding: 20px;
    font-size: 20px;
    font-weight: lighter;
}

.table-row > td {
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
}

.table-row:nth-of-type(odd) {
    margin: 0;
    background-color: #1f1f1f;
}

.Y-text-input,
.R-radio {
    padding: auto;
    margin-top: 10px;
}

.R-radio label {
    margin-right: 10px;
}

#coordinates-form label > input {
    margin: 5px;
    text-align: center;
}

#calculator {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th, td {
    text-align: center;
}

.table-result th, .table-result td {
    width: 25%;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

#hiddenForm{
    display: none;
}